<title>DedSec</title>
<div class="home">
    <div class="logoDedSec">
        <img src="Image/DedSec.png" alt="DedSec">
    </div>
    <div class="home_left">
        <div>
            <p>DecSec</p>
            <p>Security</p>
        </div>
    </div>
    <div class="home_right">
        <div class="square">
            <i class="fa-brands fa-squarespace"></i>
        </div>
        <div class="inputSection">
            <div class="blockDedSec">
                <img src="Image/IconDedSec.png" alt="DesSec" />
            </div>
            <div class="formsInput">
                <form method="post">
                    <div>
                        <div class="name">
                            <input placeholder="Nome" type="text" id="name" name="name" autocomplete="off">
                            <i class="fa-solid fa-user"></i>
                        </div>
                        <div class="password">
                            <input placeholder="Senha" type="password" id="senha" name="senha" autocomplete="off">
                            <i class="fa-solid fa-lock"></i>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>